# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
dist-ssr
build
.next
.docusaurus

# Cloudflare
.wrangler
.dev.vars

# Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# SQLite / Databases
*.sqlite
*.db
*.db-journal
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
server/data/
client/data/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Backups
backups/
*.bak
